@page "/xtc/repository/application"

@using System.ComponentModel
@using XTC.FMP.MOD.Repository.LIB.MVCS

<Card>
    <Form @ref="searchForm"
          Loading="searchLoading"
          Model="searchFormData"
          OnFinish="@onSearchSubmit">
        <Row Gutter="24">
            @for (var i = 0; i < (searchExpand ? searchFormData.Count : (searchFormData.Count < 3 ? searchFormData.Count : 3)); i++)
            {
                var index = i;
                <GridCol Span="8" @key="index">
                    <FormItem Label="@(context[index].Text)">
                        <Input @bind-Value="@(context[index].Value)" Placeholder="请输入" />
                    </FormItem>
                </GridCol>
            }
        </Row>
        <Row>
            <GridCol Span="24" Style="text-align:right;">
                <Button Type="primary" HtmlType="submit">查询</Button>
                <Button Style="margin: 0 8px;" OnClick="@onSearchResetClick">重置</Button>
                <!--
                <a style="font-size:12px" onclick="()=>{}">
                    <Icon Type="@(searchExpand?"up":"down")"></Icon>  Collapse
                </a>
                -->
            </GridCol>
        </Row>
    </Form>
</Card>

<Card Style="margin-top:24px">
    <div style="display:flex; margin-bottom:24px;">
        @if (permissionS_.ContainsKey(Permissions.ApplicationCreate))
        {
            <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Plus" OnClick="@onCreateClick">创建</Button>
        }
    </div>
    <Table TItem="TableModel" DataSource="@tableModel" Total="@tableTotal" PageIndex="tablePageIndex" PageSize="tablePageSize" OnPageIndexChange="onPageIndexChanged">
        <Column @bind-Field="@context.Org"></Column>
        <Column @bind-Field="@context.Name"></Column>
        <Column @bind-Field="@context.Version"></Column>
        <Column @bind-Field="@context.Platform"></Column>
        <Column @bind-Field="@context.Size"></Column>
        <Column @bind-Field="@context.Hash"></Column>
        <Column @bind-Field="@context.UpdatedAt"></Column>
        <ActionColumn Title="锁定" Width="80">
            <Switch Checked="@context._Locked" Disabled="true"></Switch>
        </ActionColumn>
        <ActionColumn Title="操作" Fixed="right" Width="150">
            <Space Size=@("middle")>
                @if (permissionS_.ContainsKey(Permissions.ApplicationUpdate))
                {
                    <SpaceItem>
                        <Popconfirm Title="确定要解锁这个服务吗?"
                                OnConfirm="@(()=>onConfirmUnlock(context.Uuid))"
                                OnCancel="onCancelUnlock"
                                OkText="确定"
                                CancelText="取消">
                            <Button Size="small">解锁</Button>
                        </Popconfirm>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Size="small" OnClick="()=>onUploadClick(context.Uuid)">上传</Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Size="small" Type="@ButtonType.Primary" OnClick="()=>onDownloadClick(context.Uuid)">下载</Button>
                    </SpaceItem>
                }
                @if (permissionS_.ContainsKey(Permissions.ApplicationDelete))
                {
                    <SpaceItem>
                        <Popconfirm Title="确定要删除这个服务吗?"
                                OnConfirm="@(()=>onConfirmDelete(context.Uuid))"
                                OnCancel="onCancelDelete"
                                OkText="确定"
                                CancelText="取消">
                            <Button Danger Size="small">删除</Button>
                        </Popconfirm>
                    </SpaceItem>
                }
            </Space>
        </ActionColumn>
    </Table>
</Card>

<Modal Title="创建服务"
       Visible="@visibleCreateModal"
       ConfirmLoading="@createLoading"
       OnOk="@onCreateModalOk"
       OnCancel="@onCreateModalCancel">
    <Form Model="@createModel"
          LabelColSpan="8"
          WrapperColSpan="16"
          OnFinish="onCreateSubmit"
          @ref="@createForm">
        <FormItem Label="组织">
            <Input @bind-Value="@context.Org" />
        </FormItem>
        <FormItem Label="名称">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem Label="版本号">
            <Input @bind-Value="@context.Version" />
        </FormItem>
        <FormItem Label="运行平台">
            <Input @bind-Value="@context.Platform" />
        </FormItem>
    </Form>
</Modal>

<Modal Title="上传服务"
       Visible="@visibleUploadModal"
       OnOk="@onUploadModalCancel"
       OnCancel="@onUploadModalCancel">
    <Upload Action="@uploadUrl"
            Method="put"
            Accept=".zip"
            ShowUploadList="false"
            OnChange="@onUploadChange"
            OnSingleCompleted="@onUploadCompleted">
        <Button Icon="upload">
            <span>Upload</span>
        </Button>
    </Upload>
    <Progress Percent=@uploadPercent ShowInfo="false" />
</Modal>


<style>
    .card-search-col {
        margin-right: 64px;
        margin-bottom: 24px;
    }
</style>

@code {
}
